# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/
.myvenv/
myvenv/

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static/
local_settings.py

# VS Code
.vscode/
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains IDEs (PyCharm, etc.)
.idea/

# Backup files
*~
*.bak
*.swp
